body {
    background-color: #f1f1f1;
}
#jumbotron {
    background-color: rgb(10, 168, 155);
}

.display-4 , .lead {
    color: white;
    text-align: center;
}
#searchBtn {
    background-color: rgb(10, 168, 155) ;
    margin: 10px;
}